.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    line-height: 100%;
    color: var(--text);

    text-transform: uppercase;
}

.tag img {
    width: 14px;
    height: 14px;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 1.5;
}

.label {
    white-space: nowrap;
}

.tagTone_fullstack {
    color: hsl(270, 100%, 50%);
}

.tagTone_web {
    color: hsl(210, 100%, 50%);
}

.tagTone_branding {
    color: hsl(330, 100%, 50%);
}

.tagTone_product {
    color: hsla(200, 100%, 31%, 1);
}

.tagTone_engineering {
    color: hsla(171, 100%, 39%, 1);
}

.tagTone_motion {
    color: hsl(30, 100%, 50%);
}

.tagTone_illustration {
    color: hsla(303, 100%, 50%, 1);
}

.tagTone_threeD {
    color: hsla(172, 100%, 31%, 1);
}

.tagTone_art {
    color: hsl(0, 100%, 50%);
}

.tagTone_default {
    color: var(--secondary-text);
}
