.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    font-family: var(--font-jetbrains), serif;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: var(--little-text-size);
    font-weight: 600;
    letter-spacing: -0.6;
    line-height: 100%;
    color: var(--text);

    text-transform: uppercase;
}

.tag img {
    width: 14px;
    height: 14px;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 1.5;
}

.label {
    white-space: nowrap;
}

.tagTone_web {
    color: var(--tag-tone-web);
}

.tagTone_branding {
    color: var(--tag-tone-branding);
}

.tagTone_product {
    color: var(--tag-tone-product);
}

.tagTone_engineering {
    color: var(--tag-tone-engineering);
}

.tagTone_motion {
    color: var(--tag-tone-motion);
}

.tagTone_illustration {
    color: var(--tag-tone-illustration);
}

.tagTone_threeD {
    color: var(--tag-tone-three-d);
}

.tagTone_cgi {
    color: var(--tag-tone-cgi);
}

.tagTone_art {
    color: var(--tag-tone-art);
}

.tagTone_default {
    color: var(--tag-tone-default);
}
