.siteContainer {
    height: fit-content;
    padding: 32px;

    border-right: 1px solid var(--stroke);
    border-bottom: 1px solid var(--stroke);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 8px;
    
    margin-bottom: 16px;
    margin-right: 16px;
}

.siteCover {
    width: 100%;

    pointer-events: none;

    border: 1px solid var(--stroke);

    margin-bottom: 8px;
}

.siteInfo {
    display: flex;
}

.siteInfoAndButton {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.siteTextInfo {
    display: flex;
    flex-direction: row;
}

.siteTags {
    margin-top: 6px;
}

.siteTitle {
    width: fit-content;
    margin-right: 12px;
}

.siteCategory {
    color: var(--fourthly-text);
}

.secondaryButton {
    padding: 6px 10px 4px 10px;
    background-color: var(--secondary-bg);
    color: var(--fourthly-text);

    white-space: nowrap;
}


/* Hovers */

.siteContainer:hover {
    background-color: var(--secondary-bg);
}

.siteContainer:hover .siteCover {
    opacity: 0.8;
}

.siteContainer:hover .secondaryButton {
    background-color: var(--accent-secondary-bg);
    color: var(--accent-color);
}

@media (max-width: 600px) {
    .siteContainer {
        height: fit-content;
        padding: 28px;

        border-right: none;
        border-bottom: 1px solid var(--stroke);

        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 8px;
        
        margin-bottom: 0;
        margin-right: 0;
    }


.siteContainer:hover {
    background-color: none;
}

.siteContainer:hover .siteCover {
    opacity: 1;
}

}