.siteContainer {
    height: fit-content;
    padding: 24px 24px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 12px;

    transition: 0.2s background ease-out;
}

.siteCover {
    width: 100%;

    pointer-events: none;

    border: 1px solid var(--stroke);
    border-radius: 8px;

    margin-bottom: 8px;
}

.siteInfoAndButton {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.siteTextInfo {
    display: flex;
    flex-direction: row;
}

.siteTags {
    margin-top: 6px;
    font-weight: 600;
    font-size: var(--little-text);
}

.siteTitle {
    width: fit-content;
    margin-right: 12px;
}

.siteCategory {
    color: var(--fourthly-text);
}

.secondaryButton {
    padding: 6px 10px 4px 10px;
    background-color: var(--secondary-bg);
    color: var(--fourthly-text);

    white-space: nowrap;
}


/* Hovers */

.siteContainer:hover {
    background-color: var(--hover-bg);
}

.siteContainer:hover .secondaryButton {
    background-color: var(--accent-secondary-bg);
    color: var(--accent-color);
}

.abramovStyle {
    background: linear-gradient(to bottom right, var(--bg-color), var(--bg-color), var(--accent-secondary-bg));
}


@media (max-width: 1024px) {
    .siteContainer {
        height: fit-content;
        padding: 16px;

        border-right: none;

        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 8px;
        
        margin-bottom: 0;
        margin-right: 0;
    }

    .siteCover {
        margin-bottom: 2px;
    }

    .siteTags {
        margin-top: 0;
    }

    .siteContainer:hover {
        background-color: none;
    }

    .siteContainer:hover .siteCover {
        opacity: 1;
    }
}