:root {
    --h: 220;
    --s: 20%;
    --button-text-color: hsl(var(--h), var(--s), 97%);
    --accent-color: hsl(var(--h), 100%, 50%);
    --secondary-accent-color: hsl(var(--h), 100%, 60%);
    --accent-bg: hsl(var(--h), 100%, 95%);
    --accent-secondary-bg: hsl(var(--h), 100%, 90%);
    --text: hsl(var(--h), var(--s), 4%);
    --secondary-text: hsl(var(--h), var(--s), 20%);
    --thirdly-text: hsl(var(--h), var(--s), 40%);
    --fourthly-text: hsl(var(--h) var(--s) 70%);
    --stroke: hsl(var(--h) var(--s) 80%);
    --grid-size: 24px;
    --grid-line: hsl(var(--h) var(--s) 92%);
    --bg-color: hsl(var(--h) var(--s) 99%);
    --secondary-bg: hsl(var(--h) var(--s) 94%);
    --deep-bg: hsl(var(--h) var(--s) 96%);
    --green-fill: hsl(120, 100%, 40%);

    --title-text-size: 28px;
    --title-text-line-height: 110%;
    --main-text-size: 14px;
    --main-text-line-height: 172%;
    --main-text-letter-spacing: -0.04em;
    --little-text-size: 12px;
    --little-text-line-height: 150%;

    --font-family-mono: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-title-regular: 'EBGaramond-Regular', serif;
    --font-family-quote: 'EBGaramond-Regular', serif;
}

@font-face {
    font-family: 'EBGaramond-Regular';
    src: url(/fonts/EBGaramond-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-Italic';
    src: url(/fonts/EBGaramond-Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* Настройки рендеринга шрифта */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    /* Дополнительные настройки для четкости */
    font-synthesis: none;
    font-variant-numeric: normal;
    font-kerning: auto;
}

body {
    font-family: var(--font-family-mono);
    font-size: var(--main-text-size);
    letter-spacing: var(--main-text-letter-spacing);
    line-height: var(--main-text-line-height);

    background-color: var(--bg-color);

    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
    gap: 0;

    text-wrap: pretty;
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    color: var(--accent-color);

    cursor: pointer;
}

.link:hover {
    text-transform: uppercase;

}

.mainButton {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 6px 10px 4px 10px;
}

.mainButton:hover {
    background-color: var(--secondary-accent-color);
    text-transform: uppercase;
}

.mainContainer {
    display: grid;

    grid-template-columns: 1.7fr 8.3fr;
    gap: 0px;

    min-height: 100vh;
}

.mainPageContainer {
    height: 100vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

@media (max-width: 100px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1100px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    :root {
        --title-text-size: 28px;
        --title-text-line-height: 110%;
        --main-text-size: 14px;
        --main-text-line-height: 172%;
        --main-text-letter-spacing: -0.04em;
        --little-text-size: 12px;
        --little-text-line-height: 150%;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
    }

    body {
        height: auto;
        overflow-y: auto;
    }

    .gridContainer {
        height: auto;
        overflow-y: visible;
    }


    .mainButton {
        padding: 8px 12px 6px 12px;
    }
}

@supports (-webkit-touch-callout: none) {
    @media (max-width: 600px) {
        :root {
            --main-text-letter-spacing: 0em;
        }
    }
}
