.navPanel {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 24px !important;
    justify-content: space-between;
    position: sticky;

    border-right: 1px solid var(--stroke);

    color: var(--thirdly-text);
    background-color: var(--deep-bg);

    font-size: var(--little-text-size);
    line-height: var(--little-text-line-height);
}

.headerInfo {
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.headerLogoAndTitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.headerTitle {
    font-size: 24px !important;
    text-transform: uppercase;
    color: var(--accent-color);

    margin-bottom: 12px;
}

.headerLogo {
    width: 120px;
    height: 120px;
}

.siteCounter {
    padding: 2px 4px;
    border-radius: 2px;

    background-color: var(--secondary-bg);
    color: var(--accent-color);
}

@media (max-width: 600px) {
    .navPanel {
        height: auto;
        position: relative;
        justify-content: flex-start;

        border-right: none;
        border-bottom: 1px solid var(--stroke);
    }

    .headerLogoAndTitle {
        flex-direction: row;
        align-items: center;
    }

    .headerTitle {
        margin-bottom: 0;
    }

    .headerLogo {
        width: 80px;
        height: 80px;
    }

}
