.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 24px;
}

.footerDesc {
    color: var(--fourthly-text);
}

@media (max-width: 600px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;

        align-items: center;
        text-align: center;

        padding: 6px 12px;
        background-color: var(--bg-color);
        border-top: 1px solid var(--stroke);
        font-size: 12px;
        z-index: 20;
    }

    
}
