.siteInfoAndVideo {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;

    padding: 32px 120px;
}

.backLink {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 6px 10px;
    
    border: 1px dashed hsl(220, 100%, 80%);
    border-radius: 8px;
    background: hsl(220, 100%, 98%);
    color: hsl(220, 100%, 50%);

    transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
}

.backLink:hover {
    border: 1px dashed hsl(220, 100%, 80%);
    background: hsl(220, 100%, 96%);
    transform: translateY(-1px);
}

.backLink:active {
    transform: scale(0.95);
}

.siteInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 12px;
}

.siteTitleAndSubtitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.siteTitle {
    font-size: 20px;
}

.siteSubtitle {
    color: var(--thirdly-text);
    line-height: 1.6;
}

.siteTags {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.siteTag {
    display: flex;
    flex-direction: column;
    gap: 4px;

    height: fit-content;
}

.siteTagName {
    color: var(--fourthly-text);
}

.siteTagValue {
    margin-top: 4px;

    font-size: var(--little-text-size);
    line-height: 120%;
}

.siteTagsAndButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.siteVideo {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--stroke);
    border-radius: 8px;
}

.siteImages {
    display: flex;
    flex-direction: column;
    gap: 16px;

    pointer-events: none;
}

.siteImage {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--stroke);
    border-radius: 8px;
}

.mainButton {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 8px 12px;
    
    border-radius: 8px;
    border: 1px dashed hsl(220, 100%, 50%);
    background: hsl(220, 100%, 50%);
    color: hsl(220, 100%, 98%);

    transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
}

.mainButton:hover {
    background: hsl(220, 100%, 60%);
    color: hsl(220, 100%, 98%);
    transform: translateY(-1px);

    border: 1px dashed hsl(220, 100%, 90%);
}

.mainButton:active {
    transform: scale(0.95);
}

@media (max-width: 1400px) {
    .siteInfoAndVideo {
        padding: 16px 16px 24px;
        height: fit-content;
    }

    .siteVideo {
        margin-top: 0px;
    }

    .siteInfo {
        gap: 16px;
    }
}

@media (max-width: 600px) {
    .siteTagsAndButton {
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
}
