.siteInfoAndVideo {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;

    padding: 32px 240px;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 12px;
}

.siteTitleAndSubtitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.siteTitle {
    font-size: 20px;
}

.siteSubtitle {
    color: var(--thirdly-text);
}

.siteTags {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.siteTag {
    display: flex;
    flex-direction: column;
    gap: 4px;

    height: fit-content;
}

.siteTagName {
    color: var(--fourthly-text);
}

.siteTagValue {
    margin-top: 4px;

    font-size: var(--little-text-size);
    line-height: 120%;
}

.siteTagsAndButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.siteVideo {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--stroke);
    margin: 24px 0 0 0;
}

.siteImages {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.siteImage {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--stroke);
}

@media (max-width: 1400px) {
    .siteInfoAndVideo {
        padding: 32px 120px;
    }
}

@media (max-width: 800px) {
    .siteInfoAndVideo {
        padding: 32px 40px;
    }
}

@media (max-width: 600px) {
    .siteInfo {
        gap: 24px;
    }

    .siteInfoAndVideo {
        padding: 24px;
    }

    .siteTagsAndButton {
        flex-direction: column;
        align-items: start;
        gap: 32px;
    }

    .siteTagValue {
        margin-top: 6px;
    }
}
